<div class="content" *ngIf='is_load; else loadTemplate'>

    <div class="header">
        <h1>Nuevo Cliente</h1>

        <!-- <div class="actions">
            <button (click)='onSave()'>save</button>
        </div> -->

    </div>

    <div class="body">

        <form [ngClass]="{'form': true, 'is_submit': is_submit}" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>


            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" [(ngModel)]="cliente.name" class="form-control input-text" id="name" placeholder=""
                    name="name" required>
            </div>

            <div class="form-group">
                <label for="lastname">Apellidos</label>
                <input type="text" [(ngModel)]="cliente.lastname" class="form-control input-text" id="lastname"
                    placeholder="" name="lastname" required>
            </div>

            <div class="form-group">
                <label for="birthdate">Fecha de nacimiento</label>
                <input type="date" (change)="onChangeBirthdate()" [(ngModel)]="cliente.birthdate"
                    class="form-control input-text" id="birthdate" placeholder="" name="birthdate" required>
            </div>

            <div class="form-group">
                <label for="age">Edad</label>
                <input type="text" readonly [ngModel]="cliente.age" class="form-control" id="age" placeholder=""
                    name="age" required>
            </div>


            <div class="mt-3 text-center">
                <a [routerLink]="['/dashboard']" class="btn btn-link me-3">Cancelar</a>
                <button class="btn btn-primary">{{is_new ? 'Guardar' : 'Actualizar'}}</button>
            </div>


        </form>

    </div>

</div>

<ng-template #loadTemplate>

    <h2>Cargando...</h2>

</ng-template>