.input-text {
    width: 100%;
    border: 1px solid #d2d6de;
    padding: 8px 12px;
    font-size: 14px;
    &:disabled {
        background-color: #f5f6f7;
        cursor: not-allowed;
    }
    &.ng-touched {
        &.ng-invalid {
            border-color: var(--error);
        }
        &.ng-valid {
            border-color: var(--success);
        }
    }
}

.is_submit {
    .ng-invalid {
        border-color: var(--error);
    }
    .ng-valid {
        border-color: var(--success);
    }
}
