.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    display: flex;
    justify-content: center;
    .card {
        margin: 1rem;
        text-align: center;
        background: var(--primary);
        color: #fff;
    }
}
