<div class="content">

    <div class="header">

        <h1>Lista de cliente</h1>

        <div class="actions">

            <a class="btn btn-primary" [routerLink]='["/dashboard/add"]'>Nuevo</a>

        </div>

    </div>


    <div class="body">

        <div class="info">

            <div *ngIf="clientes.length" class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Promedio de edad</h5>
                    <h2>{{average}}</h2>
                </div>
            </div>

            <div *ngIf="clientes.length" class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Desviación estándar entre las edades</h5>
                    <h2>{{desviation | number }}</h2>
                </div>
            </div>


        </div>


        <table class="table">

            <thead>

                <tr>

                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Fecha de nacimiento</th>
                    <th>Acción</th>

                </tr>

            </thead>

            <tbody>

                <tr *ngFor="let cliente of clientes">

                    <th>{{cliente.name}}</th>
                    <th>{{cliente.lastname}}</th>
                    <th>{{cliente.age}}</th>
                    <th>{{cliente.birthdate}}</th>
                    <th>
                        <a [routerLink]="['/dashboard/detail/' + cliente.id! ]" class="btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </th>

                </tr>

            </tbody>

        </table>

    </div>


</div>