/* You can add global styles to this file, and also import other style files */

@import "./assets/css/normalize";

:root {
    --primary: #e0535c;
    --primary-dark: #9f2414;
    --primary-tint: #e0535c;
    --secondary: #3c8dbc;
    --secondary-dark: #3b7ca2;
    --secondary-tint: #37a5e6;
    --error: #eb445a;
    --warning: #ffc409;
    --success: #2dd36f;
    --light: #f5f5f5;
    --dark: #1f1f1f;
    --background: #f5f6f7;
    --border: #a5a5a5;
    --placeholder: #797979;
    --disabled: #d2d6de;
    --font: open_sans;
    --font-bold: open_sansbold;
    --font-light: open_sanslight;
    --font-italic: open_sansitalic;
}

.content {
    padding: 1rem;
}
